* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f6f6f6;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuIcon {
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: #f6f6f6;
    display: none;
    padding-top: 40px;
    flex-flow: column wrap;
    animation: slide 0.3s ease-in-out forwards;
}

@keyframes slide {
    from {left: -50%;}
    to {left: 0%;}
}

.menu a {
    width: fit-content;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #f6f6f6;
    margin: 10px 0px 10px 40px;
}

.menu a:hover {
    border-bottom: 2px solid black;
}

.addForm {
    margin: 20px 0px;
    text-align: center;
}

.addTodoInput {
    outline: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid black;
}

.addSubmit {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    border: 2px solid black;
}

.wrapper {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    list-style-type: none;
}

.todo {
    cursor: pointer;
    border-radius: 3px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    transition: 0.3s ease-in-out;
}

.todo:hover {
    transform: translateY(-10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.todoContent {
    font-size: 1.2em;
}

.lineThrough {
    text-decoration: line-through;
    opacity: 0.5;
}

.icons {
    display: flex;
    flex-flow: column wrap;
}

.icons img {
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.icons img:hover {
    background-color: #f1f1f1;
}

.icons img:nth-child(-n+2) {
    margin-bottom: 20px;
}

.editPopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.editFormDiv {
    width: fit-content;
    padding: 40px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
}

.editFormDiv img {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.editTodoInput {
    outline: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid black;
}

.editSubmit {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid black;
}

@media screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    
    .menuIcon {
        display: none;
    }    

    .menu {
        position: static;
        width: fit-content;
        display: flex;
        flex-flow: row wrap;
        padding-top: 0px;
    }

    .menu a {
        margin: 0px 20px;
    }

     .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

}